<header class="navbar navbar-inverse navbar-fixed-top" id="header-container"></header>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" id="sidebar-container"></div>
    <div class="span9" id="page-container"></div>
  </div><!--/row-->
</div>
